<mat-toolbar class="toolbar">
  <div class="toolbar-group">
    <!-- <button mat-fab extended>
      <mat-icon>home</mat-icon>
      Propiedades
    </button>

    <button mat-fab extended>Dueños</button>
    <button mat-fab extended>Inquilinos</button>
    <button mat-fab extended>Contratos</button> -->
    
    <button mat-button><mat-icon>home</mat-icon><a routerLink="/properties">Propiedades</a></button>
    <button mat-button><mat-icon>real_estate_agent</mat-icon><a routerLink="/owners">Dueños</a></button>
    <button mat-button><mat-icon>person</mat-icon><a routerLink="/tenants">Inquilinos</a></button>
    <button mat-button><mat-icon>handshake</mat-icon><a routerLink="/contracts">Contratos</a></button>

  </div>
</mat-toolbar>
